body {
  color: #444;
}
.heading {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 #fff, 2px 2px;
}
.text::first-letter {
  font-size: 20px;
}
.text {
  text-indent: 3em;
}

.ph1 {
  text-decoration: underline;
  text-align: center;
  text-indent: 0;
}
div h1 {
  text-align: center;
}
