.rating {
  margin: 0;
  padding: 0;
  border: none;
}
.rating__star {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  background-size: 2em auto;
  margin: 0;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  font-size: inherit;

}
.rating__star:focus{
  outline: none;
}
.rating__star:checked,
.rating__star:hover {
  background-image: url("a87045e7-43a6-4fba-bf29-70404c65a916.svg");
  cursor: pointer;

}
.rating__star:nth-of-type(1) {
  width: 2em;
z-index: 5;
}
.rating__star:nth-of-type(2) {
  width: 4em;
  z-index: 4;

}
.rating__star:nth-of-type(3) {
  width: 6em;
  z-index: 3;

}
.rating__star:nth-of-type(4) {
  width: 8em;
z-index: 2;
}
.rating__star:nth-of-type(5) {
  width: 10em;
  z-index: 1;
}

.rating__group {
  position: relative;
  width: 10em;
  height: 2em;
  background-image: url("f65d42fc-1777-4da2-af45-c23366e85776.svg");
  background-size: 2em auto;
  margin: 0.5em;
}

.product__wrapper {

  width: 100%;
  display: inline-block;
  transition: width .2s;
}


.product {
  display: block;

  border-radius: 3px;
  position: relative;
  background: #fff;
  margin: 0 20px 10px 0;
  text-decoration: none;
  color: #474747;
  z-index: 0;
  height: 300px;
}
.product__pic {

  overflow: hidden;
}
.product__photo  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  transition: transform .4s ease-out;
}
.product:hover .product__photo  {
  transform: scale(1.05);
  opacity: 0.7;
}
 .product__opisanie {

  position: relative;
  margin: 0;
  font-size: 1em;
  line-height: 1.4em;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow-y: hidden;
}
/*p:after {*/
/*  content: '';*/
/*  display: inline-block;*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  right: 0;*/
/*  width: 4.2em;*/
/*  height: 2em;*/
/*  background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));*/
/*}*/
.product__name {
  font-size: 1.4em;
}

.product__price--new ,
.product__price--old  {
  color: #888;
}
.product__price {
  margin: 2% 0 2% 0;
}
.product__class {
  margin-top: 0;
margin-bottom: 10%;
}
.product__opisanie {
  font-size: 0.8em;
  width: 87%;
}
.product__price--new {
  color: black;
}
.product__price--old {

   text-decoration: #ff3535 line-through ;
 }
.product__class a{
  text-decoration: none;
  color: black;
}
.product__class a:hover {
  color: darkblue;
  text-decoration: underline darkblue;
}
.product__wrapper:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.product__wrapper {
  border: 1px solid gray;
  border-radius: 3px;
  margin: 1%;
  padding: 1%;
  width: 25%;
}
.product__name:hover {
color: red;
  cursor: pointer;
}
.switch-for{
  cursor: pointer;
  font-size: 15px;
  line-height: 25px;
  position: relative;
  display: block;
  margin-top: 5px;
  padding: 1%;
}
.switch-for::after {
  content: "";
  width: 34px;
  height: 14px;
  background-color: cornflowerblue;
  border: 1px solid darkblue;
  border-radius: 12px;
  position: absolute;
  top: -15px;
  right: 1300px;
  display: block;
  margin-top: 20px;
}
.switch-for::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: aliceblue;
  border-radius: 50%;
  position: absolute;
  right: 1321px;
  top: -14px;
  z-index: 1;
  transition-duration: 300ms;
  display: block;
  margin-top: 20px;
}
.switch {
  display: none;
}
.switch:checked + .switch-for::before {
  right: 1301px;

}
.switch:checked ~ .product__wrapper {
width: 90%;
  display: block;
  margin-top: 10px;

  border-radius: 10px;
  box-shadow: none;
text-align: center;
  transition-duration: 800ms;

}



.switch:checked ~ .product__wrapper .product__opisanie {

  font-size: 150%;
  text-align: center;
  width: 100%;
}
.switch:checked ~ .product__wrapper .product__photo {


  min-width: 10px;
  height: auto;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;


}
.switch:checked ~ .product__wrapper .rating {
  display: block;
  text-align: -webkit-center;
}


@media only screen and (min-width: 250px) {
  .product__wrapper {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .product__wrapper {
    width: 33.333%;
  }
}

@media only screen and (min-width: 1000px) {
  .product__wrapper {
    width: 25%;
  }
}

